body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
    background-color: #b4c6ea;
}

header {
    overflow: hidden;
    background-color:#b4c6ea;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;

}

p, ol, ul{
    margin-top: 0;
}
 
 
ol, ul {
    padding: 0;
    list-style: none;
}

.name {
    float: left;
    width: auto;
    margin: none;
    padding-left: 25px;
    padding-top: 30px;
}

.name a {
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 19px;
    color: black;
}
  
/***************************/
/* Styling Navigation Menu */
/***************************/
.menu {
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 14px;
    padding-right: 27px;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 3px;
    padding-right: 3px;
}

.menu li:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #ceba85;
    box-shadow: 0 0 0 7px black;
    width: auto;
  }

.menu a {
    margin:auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: black;
    display: block;
}

footer {
    overflow: hidden;
    background-color: #b4c6ea;
    text-align: left;
    color: white;
}

footer p {
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 550;
    font-size: 17px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

  