@charset "utf-8";

body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
}

header {
    overflow: hidden;
    background-color:#465060;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;

}

p, ol, ul{
    margin-top: 0;
    margin-bottom: 5px;
}
 
 
ol, ul {
    list-style-type: square;
}

h1, h2, h3, h4, h5 {
    font-size: 30px;
    color: #94b49c;

}

.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7%;
    padding-bottom: 5%;
}
/***************************/
/******* Education *********/
/***************************/

.education {
    display: flex;
}

.college-left {
    text-align: left;
    width: 70%;

}

.college-right {
    text-align: right;
    width: 30%;
    
}

.college-right p{
    padding-top: 24px;
    padding-bottom: 17px;
}

/***************************/
/******* Experience ********/
/***************************/
.experience {
}

.job-row-1 {
    display: flex;
}

.job-row-2 {
    display: flex;
    padding-bottom: 15px;
}
/**************************/
.job1 {
}

.job1-left {
    text-align: left;
    width: 70%;
}

.job1-right {
    text-align: right;
    width: 30%;
}

.job1-bullet {
}
/**************************/

.job2 {
}

.job2-left {
    text-align: left;
    width: 70%;
}
.job2-right {
    text-align: right;
    width: 30%;
}
/**************************/

.job3 {
}

.job3-left {
    text-align: left;
    width: 70%;
}
.job3-right {
    text-align: right;
    width: 30%;
}
/**************************/
.job4 {
}

.job4-left {
    text-align: left;
    width: 70%;
}
.job4-right {
    text-align: right;
    width: 30%;
}
/*******************************/
/*Technical Skills & Coursework*/
/*******************************/
.techskills{
    display: flex;
}

.skills-left {
    text-align: left;
    width: 35%;
    float: left;
}

.skills-center {
    text-align: left;
    width: 30%;
    float: left;
}

.skills-right{
    text-align: left;
    float: right;
    width: 35%;
}

/***************************/
/**** Honors & Awards ******/
/***************************/

.honors-wrapper{
    display: flex;
}

.honors {
    text-align: left;
    width: 100%;
}


/***************************/
/******* Activies **********/
/***************************/
.activites-wrapper{
    display: flex;
}

.activites-left {
    text-align: left;
    width: 70%;
}

.activites-right{
    text-align: right;
    width: 30%;
}

/**************************/

.name {
    float: left;
    width: auto;
    margin: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 28px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
.menu {
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 14px;
    padding-right: 27px;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
    padding: none;
    margin: 15px;
}

.menu a {
    margin:auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    
}

.menu a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }


footer {
    background-color:#465060;
    color: white;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    float: left;
}

footer img{
    position:static;
    width: 80px;
    height: 90px;
    padding-top: 15px;
    object-fit: scale-down;
}