@charset "utf-8";

body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
}

header {
    overflow: hidden;
    background-color:darkslategray;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;

}

p, ol, ul{
    margin-top: 0;
}
 
 
ol, ul {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-size: 30px;
    border-bottom-style: solid;

}

.content {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 9%;
    padding-bottom: 9%;
}
/***************************/
/******* Education *********/
/***************************/

.education {
    display: flex;
}

.college {
    text-align: left;
    width: 70%;

}

.college-dates {
    text-align: right;
    width: 30%;
    padding-top: 34px;
}

.college-dates p{
    padding-bottom: 16px;
}

/***************************/
/******* Experience ********/
/***************************/
.experience {
    display: flex;
}

.job1 {
    text-align: left;
    float:left;
    width: 70%;
}

.job1-aside {
    float: right;
    width: 30%;
}

.job2 {
    display: flex;
    float:left;
    width: 75%;
}

.job2-aside {
    float: right;
    width: 25%;
}

.job3 {
    display: flex;
    float:left;
    width: 75%;
}

.job3-aside {
    float: right;
    width: 25%;
}

.job4 {
    display: flex;
    float:left;
    width: 75%;
}

.job4-aside {
    float: right;
    width: 25%;
}
/*******************************/
/*Technical Skills & Coursework*/
/*******************************/
.techskills{
    float:left;
    width: 100%;
}

.skills {
    display: flex;
    float:left;
    width: 75%;
}

.skills-aside{
    float: right;
    width: 25%;
}

/***************************/
/******* Activies **********/
/***************************/
.activites-wrapper{
    float:left;
    width: 100%;
}

.activites {
    display: flex;
    float:left;
    width: 75%;
}

.activites-aside{
    float: right;
    width: 25%;
}

/***************************/
/**** Honors & Awards ******/
/***************************/

.honors-wrapper{
    float:left;
    width: 100%;
}

.honors {
    float:left;
    width: 75%;
}

.honors-aside{
    float: right;
    width: 25%;
}


.name {
    float: left;
    width: auto;
    margin: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 28px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
.menu {
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 14px;
    padding-right: 27px;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
    padding: none;
    margin: 15px;
}

.menu a {
    margin:auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    
}

.menu a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }




footer {
    background-color:darkslategray;
    color: white;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    float: left;
}

footer img{
    position:static;
    width: 80px;
    height: 90px;
    padding-top: 15px;
    object-fit: scale-down;
}