@charset "utf-8";

body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
    background-color: #b4c6ea;
}

p, ol, ul{
    margin-top: 0;
    margin-bottom: 5px;
}
 
 
ol, ul {
    list-style-type: square;
}

h1, h2, h3, h4, h5 {
    font-size: 30px;
    color: #254E58;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7%;
    padding-bottom: 5%;
}
/***************************/
/******* Education *********/
/***************************/

.education {
    display: flex;
}

.college-left {
    text-align: left;
    width: 70%;

}

.college-right {
    text-align: right;
    width: 30%;
    
}

.college-right p{
    padding-top: 24px;
    padding-bottom: 17px;
}

/***************************/
/******* Experience ********/
/***************************/
.experience {
}

.job-row-1 {
    display: flex;
}

.job-row-2 {
    display: flex;
    padding-bottom: 15px;
}
/**************************/
.job1 {
}

.job1-left {
    text-align: left;
    width: 70%;
}

.job1-right {
    text-align: right;
    width: 30%;
}

.job1-bullet {
}
/**************************/

.job2 {
}

.job2-left {
    text-align: left;
    width: 70%;
}
.job2-right {
    text-align: right;
    width: 30%;
}
/**************************/

.job3 {
}

.job3-left {
    text-align: left;
    width: 70%;
}
.job3-right {
    text-align: right;
    width: 30%;
}
/**************************/
.job4 {
}

.job4-left {
    text-align: left;
    width: 70%;
}
.job4-right {
    text-align: right;
    width: 30%;
}
/*******************************/
/*Technical Skills & Coursework*/
/*******************************/
.techskills{
    display: flex;
}

.skills-left {
    text-align: left;
    width: 30%;
    float: left;
}

.skills-center {
    text-align: left;
    width: 20%;
    float: left;
}

.skills-right{
    text-align: left;
    float: right;
    width: 30%;
}

/***************************/
/**** Honors & Awards ******/
/***************************/

.honors-wrapper{
    display: flex;
}

.honors {
    text-align: left;
    width: 100%;
}


/***************************/
/******* Activies **********/
/***************************/
.activites-wrapper{
    display: flex;
}

.activites-left {
    text-align: left;
    width: 70%;
}

.activites-right{
    text-align: right;
    width: 30%;
}

/**************************/

.topnav {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    overflow: hidden;
    display: flex;
    margin-left: 17%;
}

.topnav a {
    display: block;
    float:left;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 19px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 17px;
}

.topnav a:hover {
    background-color: #ceba85;
    box-shadow: 0 0px 0 7px black;
    color: black;
  }

.topnav a.active {
    background-color: #ceba85;
    box-shadow: 0 0 0 5px black;
    color: black;
  }

.topnav .icon {
    display: none;
}

.name {
    padding-left: 25px;
}


@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


/**************************/
footer {
    overflow: hidden;
    background-color:#b4c6ea;
    text-align: left;
    color: white;
}

footer p {
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 550;
    font-size: 17px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}