body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
}

header{
    overflow: hidden;
}

p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{   
    /* Set width of container to
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}

/*************************/
/*    Styling  Header    */
/*************************/
.hero-image{
    background-image: url("images/lorenzo_headshot.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

/******************/   
/* Styling Banner */
/******************/
.hero-text{
    text-align: left;
    height: 60px;
    color: white;
}

.name{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
    padding-left: 20px;
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
}
  
/***************************/
/* Styling Navigation Menu */
/***************************/
.menu{
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 20px;
    padding-right: 30px;
}

.menu ul{
    text-align: center;
    float: right;
    margin: none;
}

.menu li{
    display: inline-block;
    padding: none;
    margin: 5px;
}

.menu a{
    margin:auto;
    text-decoration: none;
    font-weight: 720;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    
}

.menu a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }

/***************************/
/* Styling Body */
/***************************/

#content h1 {
    font-size: 10px;
}

#content img {
    position:static;
    bottom: 8px;
    left: 16px;    
    top: 100px;
}

/***************************/
/* Styling Basic */
/***************************/

.row {
    display: table-row;
}