body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
}

header {
    overflow: hidden;
}

p, ol, ul{
    margin-top: 0;
}
 
 
ol, ul {
    padding: 0;
    list-style: none;
}

/*************************/
/*    Styling  Header    */
/*************************/
.hero-image {
    background-image: url("images/lorenzo_headshot.jpg");
    background-color: #cccccc;
    height: 524px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

/******************/   
/* Styling Banner */
/******************/
.hero-text {
    text-align: left;
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.name {
    float: left;
    width: auto;
    margin: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 30px;
}
  
/***************************/
/* Styling Navigation Menu */
/***************************/
.menu {
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 14px;
    padding-right: 27px;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
    padding: none;
    margin: 15px;
}

.menu a {
    margin:auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    color: white;
    
}

.menu a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }

/***************************/
/* Styling Body */
/***************************/
body p {
    line-height: 100%;
}

main {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 33%;
    padding-right: 33%;
}

main h1 {
    font-size: 30px;
    font-weight: 400;
    color:darkslategray;
    padding-bottom: 10px;
    word-spacing: 20px;
}

main p {
    word-spacing: 4px;
    color:dimgray;
    font-size: 20px;
    font-family: asap;
}

footer {
    background-color:darkslategray;
    color: white;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

footer img{
    position:static;
    width: 80px;
    height: 90px;
    padding-top: 15px;
    object-fit: scale-down;
}
/***************************/
/* Styling Basic */
/***************************/

.row {
    display: table-row;
}