@charset "utf-8";

body {
    font-family: PT Mono, Halvetica, sans-serif;
    margin: 0;
    background-color: #b4c6ea;
}

header {
    overflow: hidden;
    background-color:#b4c6ea;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    color: white;
    letter-spacing: 0.07em;
    text-transform: uppercase;

}

p, ol, ul{
    margin-top: 0;
    margin-bottom: 5px;
}
 
 
ol, ul {
    list-style-type: square;
}

h1{
    font-size: 30px;
    color: #254E58;
}

h2, h3, h4{
    color: #254E58;
    font-size: 25px;
}

.name {
    float: left;
    width: auto;
    margin: none;
    padding-left: 25px;
    padding-top: 30px;
}

.name a {
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 650;
    font-size: 19px;
    color: black;
}
  
/***************************/
/* Styling Navigation Menu */
/***************************/
.menu {
    float: right;
    width: auto;
    height: 100%;
    margin: none;
    padding-top: 14px;
    padding-right: 27px;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 3px;
    padding-right: 3px;
}

.menu li:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #ceba85;
    box-shadow: 0 0 0 7px black;
    width: auto;
  }

.menu a {
    margin:auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: black;
    display: block;
}

.content {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 7%;
    padding-bottom: 5%;
}

.about {
    margin-top: 60px;
    margin-left: 30px;
    padding-bottom: 100px;   
}

.item-1 {
    margin-top: 60px;
    margin-left: 30px;
    padding-bottom: 100px; 
    display: flex;
}

.drone-video {
      width: 60%;
}

.drone-text {
    width:40%;
    padding-top: 8%;
}

.item-2 {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 100px;  
}

.itx-video{
    width: 60%;
}

.itx-text {
    width:40%;
    padding-top: 8%;
}

.item-3 {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 50px; 
}

.sev-video{
    width: 60%;
}

.sev-text {
    width:40%;
    padding-top: 8%;
}

footer {
    overflow: hidden;
    background-color: #b4c6ea;
    text-align: left;
    color: white;
}

footer p {
    text-decoration: none;
    font-family: Proxima Nova;
    font-weight: 550;
    font-size: 17px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}